.visible {
	display : table-row;
}
.oculto {
	display : none;
}

.pulse {
	animation: pulse-animation 2s infinite;
	border-radius: 16px;
}

@keyframes pulse-animation {
	0% {
		box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
	}
	100% {
		box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
	}
}
